<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Times Of World - Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Red+Hat+Text:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
</head>
<body>
        <form action="/signup" method="post">
            <h2>Sign Up</h2>
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" value="Sign Up">
            <div>
                <p>Already have an account?</p>
                <a href="/login">Login</a>
            </div>
            <% if(msg){ %>
                <p style="color: red"><%= msg %></p>    
            <% } %>
        </form>
</body>
</html>